.container {
	width: 400px;
	background: #242632;
	overflow: hidden;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	margin: 0 auto;
	box-shadow: 0px 10px 19px rgba(49,49,49, .5);
}

.display-container {
	padding: 20px;
	width: 310px;
	margin-left: 16px;
	padding-bottom: 0px;
}

.input-container {
	overflow: hidden;
	padding: 20px;
	padding-top: 0;
	border: 15px solid #242632;
	border-top: 0;
	border-bottom: 0;
	padding-bottom: 50px;
}

.number-container {
	clear: left;
	border-radius: 30px;
}

.calc-container {
	overflow: hidden;
	float: left;
}

.ac-container {
	background: #E38F4F;
	color: black;
}