button {
	background: #2C303B;
	color: white;
	border: 3px solid #191B21;
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
	margin: 5px;
	font-size: 27px;
	min-width: 70px;
	min-height: 50px;
	cursor: pointer;
	float: left;
	border-radius: 5px;
	outline: none;
	border-radius: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}