.display {
	clear: both;
	padding: 20px;
	background: #9EB3AF;
	font-family: digital;
	font-size: 24px;
	border: 10px inset rgba(179, 158, 173,0.22);
	text-align: right;
	letter-spacing: 5px;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 10px;
	overflow: hidden;
}
